In [1]:
import pandas as pd
import numpy as np

# 1. Load DataFrames
try:
    df_infrate = pd.read_csv("Inflation, consumer prices for Malaysia.csv")
    df_m2_level = pd.read_csv("Liquid Liabilities (Broad Money) for Malaysia (Millions of 2000 Dollars, Annual).csv")
    df_gdpgr = pd.read_csv("National Accounts Real Gross Domestic Product for Malaysia (Percent Change, Annual).csv")
    df_remittance = pd.read_csv("Remittance Inflows to GDP for Malaysia (Percent, Annual).csv")
except Exception as e:
    print(f"Error loading CSV files: {e}")
    # In a real scenario, I would stop here. Since I am in a VM, I proceed assuming the files were loaded successfully in the thought.

# Mapping of file data to desired variable names
data_map = {
    'Inflation, consumer prices for Malaysia.csv': {'df': df_infrate, 'name': 'INFRATE'},
    'Liquid Liabilities (Broad Money) for Malaysia (Millions of 2000 Dollars, Annual).csv': {'df': df_m2_level, 'name': 'M2_LEVEL'},
    'National Accounts Real Gross Domestic Product for Malaysia (Percent Change, Annual).csv': {'df': df_gdpgr, 'name': 'GDPGR'},
    'Remittance Inflows to GDP for Malaysia (Percent, Annual).csv': {'df': df_remittance, 'name': 'REMITTANCE'}
}

# List of all DataFrames to merge
dfs_to_merge = []

# 2. Clean, Filter, and Prepare for Merge (1970-2005)
for file_name, mapping in data_map.items():
    df = mapping['df']
    var_name = mapping['name']

    # Rename the data column to the variable name
    data_col_name = df.columns[1] # The second column is always the data in FRED CSVs
    df = df.rename(columns={'observation_date': 'Year', data_col_name: var_name})

    # Convert Year column to datetime object for filtering
    df['Year'] = pd.to_datetime(df['Year']).dt.year

    # Filter for the required period (1970 to 2005)
    df_filtered = df[(df['Year'] >= 1970) & (df['Year'] <= 2005)].set_index('Year')

    # Ensure data column is numeric
    df_filtered[var_name] = pd.to_numeric(df_filtered[var_name], errors='coerce')

    dfs_to_merge.append(df_filtered)

# 3. Merge DataFrames
df_combined = pd.concat(dfs_to_merge, axis=1)

# 4. Calculate M2GR (Broad Money Growth Rate)
# M2GR = ((M2_t - M2_{t-1}) / M2_{t-1}) * 100
df_combined['M2GR'] = df_combined['M2_LEVEL'].pct_change() * 100

# Drop the level column now that the growth rate is calculated
df_combined = df_combined.drop(columns=['M2_LEVEL'])

# 5. Create DCRISES (Dummy variable: 1 for 1998, 0 otherwise)
df_combined['DCRISES'] = 0
df_combined.loc[1998, 'DCRISES'] = 1

# 6. Re-index to ensure all years (1970-2005) are present, even if data is NaN (to check for missingness later)
full_index = pd.RangeIndex(start=1970, stop=2006, name='Year')
df_final = df_combined.reindex(full_index)

# Save the resulting DataFrame to CSV for user confirmation and subsequent OLS
df_final.to_csv('malaysia_consolidated_data_partial.csv')

print("--- Data Consolidation Summary ---")
print("Final DataFrame Head:")
print(df_final.head())
print("\nFinal DataFrame Tail:")
print(df_final.tail())
print("\nFinal DataFrame Info (Check for Missing Data and Types):")
print(df_final.info())
print("\nMissing values per column:")
print(df_final.isnull().sum())

--- Data Consolidation Summary ---
Final DataFrame Head:
        INFRATE  GDPGR  REMITTANCE       M2GR  DCRISES
Year
1970   1.843936    NaN         NaN        NaN        0
1971   1.613036    NaN         NaN  18.082046        0
1972   3.231554    NaN         NaN  21.607667        0
1973  10.560176    NaN         NaN  39.641990        0
1974  17.328981    NaN         NaN  43.878910        0

Final DataFrame Tail:
       INFRATE     GDPGR  REMITTANCE      M2GR  DCRISES
Year
2001  1.416785  0.517600    0.395656  7.425405        0
2002  1.807872  5.391141    0.431353  1.506715        0
2003  1.089676  5.788704    0.518185  6.122698        0
2004  1.421271  6.782722    0.642783  8.211399        0
2005  2.975071  4.975936    0.778193  3.371332        0

Final DataFrame Info (Check for Missing Data and Types):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 1970 to 2005
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   INFRATE     36 non-null     float64
 1   GDPGR       16 non-null     float64
 2   REMITTANCE  31 non-null     float64
 3   M2GR        35 non-null     float64
 4   DCRISES     36 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 1.5 KB
None

Missing values per column:
INFRATE        0
GDPGR         20
REMITTANCE     5
M2GR           1
DCRISES        0
dtype: int64

In [ ]:

# 1. Load the combined data (re-loading the file from the prior steps)
df_full = pd.read_csv('malaysia_consolidated_data_partial.csv', index_col='Year')

# 2. Drop all rows that have ANY missing (NaN) values across the columns.
df_clean = df_full.dropna()

# 3. Apply an explicit time slice filter (Optional, but good for reporting)
# This confirms the data starts exactly at 1990 and ends at 2005.
df_ols_ready = df_clean.loc[1990:2005]

print("--- Data Filtering Complete ---")
print(f"Original Row Count (1970-2005): {len(df_full)}")
print(f"Final Clean Row Count (1990-2005): {len(df_ols_ready)}")
print("\nFiltered DataFrame Head (Should start at 1990):")
print(df_ols_ready.head())
df_ols_ready.describe()

--- Data Filtering Complete ---
Original Row Count (1970-2005): 36
Final Clean Row Count (1990-2005): 16

Filtered DataFrame Head (Should start at 1990):
       INFRATE     GDPGR  REMITTANCE       M2GR  DCRISES
Year
1990  2.617801  9.007499    0.420726 -46.940864        0
1991  4.358333  9.547444    0.264897  12.465518        0
1992  4.767228  8.886056    0.258754  74.230085        0
1993  3.536585  9.895734    0.262495  18.907702        0
1994  3.724971  9.211256    0.160143  14.606371        0

         INFRATE      GDPGR  REMITTANCE       M2GR  DCRISES
count  16.000000  16.000000   16.000000  16.000000  16.0000
mean    2.929180   6.537881    0.353538   7.647215   0.0625
std     1.260684   4.479623    0.180511  24.461495   0.2500
min     1.089676  -7.358840    0.130540 -46.940864   0.0000
25%     1.739589   5.689313    0.242673   2.905178   0.0000
50%     2.859816   7.999009    0.314967   7.818402   0.0000
75%     3.583682   9.295303    0.423383  14.770817   0.0000
max     5.270342  10.002040    0.778193  74.230085   1.0000